

.swiper {
  width: 100%;
  height: 100%;
  /* background: #; */
  
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  min-height: 70vh;
  background-color: linear-gradient(0deg, blue, green 40%, red);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 130%;
  min-height: 70vh;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
